[submodule "external"]
	path = external
	url = https://github.com/devonjones/openforge-cut_stone-external.git
[submodule "internal"]
	path = internal
	url = https://github.com/devonjones/openforge-cut_stone-internal.git
[submodule "openlock"]
	path = openlock
	url = https://github.com/devonjones/openforge-cut_stone-openlock.git
[submodule "parts"]
	path = parts
	url = https://github.com/devonjones/openforge-cut_stone-parts.git
[submodule "accessories"]
	path = accessories
	url = https://github.com/devonjones/openforge-cut_stone-accessories.git
[submodule "base"]
	path = base
	url = https://github.com/devonjones/openforge-cut_stone-base.git
